@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
section{
	height: fit-content;
	background-color: #d6dddd;
}
.container .main{
	padding: 20px;
}
.text-center.heading{
	background: #000;
    padding: 10px;
	color: #fff;
}
#signup-form-id{
	padding: 0 10%;
}
.valid-feedback, .invalid-feedback{
	display: none;
}
